<h1 class="center">Edit article</h1>

<%= render 'form' %>

<br></br>

	<td> 
		 { <%= link_to 'Delete This Article' , article_path(@article), method: :delete, data: {confirm: 'confirm to delete'} %>
	</td>}